.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

.content h2 {
    padding: 10px;
}

.content hr {
    align-self: stretch;
}

.content ul {
    padding: 10px;
    list-style: none;
}
