.manageSummaries {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.manageButtons {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
}

.manageButtons span {
    margin-right: 8px;
}

#buttonRename { 
    background-color: rgb(0, 102, 255);
}

#buttonDelete {
    background-color: rgb(240, 18, 18);
}
