.summaries {
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: start;
    padding: 12px;
}

.summaries summary {
    list-style: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.summaries span{
    margin-right: 8px;
}

.summaries ul {
    list-style-type: none;
    font-weight: 100;
    color: #dfdfdf;
}

#addSummary {
    flex-basis: 0 0 50px;
}

.summary {
    padding: 4px;
    cursor: pointer;
}

.summary:hover {
    color: white;
    background-color: var(--inputText);
}

.selected {
    background-color: var(--sumarySelected);
}